<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ingredient.quantity %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @ingredient.purchase_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ingredient.category %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @ingredient.expiration_date %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @ingredient.favorite %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
